# Ignore build directories
/dependencies/*
/lib/*
 
# Ignore compiled binaries
auth_microservice

# Ignore dependency-related files
*.o
*.a
*.so
*.out

# Ignore CMake files
CMakeCache.txt
CMakeFiles/
Makefile.cmake
